# Solana Network Configuration
VITE_SOLANA_NETWORK=devnet

# Production Mode Flag
# Set to 'true' to enable production mode (hides certain UI elements)
VITE_PRODUCTION_MODE=false

# LedgerLens API Keys
# SpaceX Reserve Data API
VITE_LEDGERLENS_SPACEX_API_KEY=api__XRKRMLqwKtqKg8aAIFIFb43iuTIyR9V

# Kalshi Reserve Data API
VITE_LEDGERLENS_KALSHI_API_KEY=api_UDzO3__3E47tY_bKTdxzQJ7V0VPVfWh2
